#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding-bottom: 2rem; */
  text-align: center;
}

 

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
.radial-progress {
  position: relative;
  display: inline-grid;
  height: var(--size);
  width: var(--size);
  place-content: center;
  border-radius: 9999px;
  background-color: transparent;
  vertical-align: middle;
  box-sizing: content-box;
  --value: 0;
  --size: 7rem;
  --thickness: calc(var(--size) / 8)
}

.radial-progress::-moz-progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent
}

.radial-progress::-webkit-progress-value {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent
}

.radial-progress::-webkit-progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent
}

.radial-progress:before,
.radial-progress:after {
  position: absolute;
  border-radius: 9999px;
  content: ""
}

.radial-progress:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(farthest-side, currentColor 98%, #0000) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)))
}

.radial-progress:after {
  inset: calc(50% - var(--thickness)/2);
  transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size)/2 - 50%));
  background-color: currentColor
}
.progress .bar {
  stroke-dasharray: calc(2 * 3.14159 * var(--r) * 100%);
  stroke-dashoffset: calc((1 - var(--progress)) * 2 * 3.14159 * var(--r) * 100%);
}